@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}


.custom-shadow {
  -webkit-box-shadow: 15px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 10px 47px 0px rgba(0,0,0,0.75);
box-shadow: 15px 10px 47px 0px rgba(0,0,0,0.75);
}

.custom-shadow-1 {
  -webkit-box-shadow: 15px 10px 47px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 10px 47px 0px rgba(0,0,0,0.75);
box-shadow: 15px 10px 47px 0px rgba(0,0,0,0.15);
}
.home-banner{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(./images/HomePic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}