.modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(189, 189, 189, 0.9);
    z-index: 1000;
 }
 
 
 .modal-container{
     top: 50%;
     left: 50%;
     transform: translate(-50% , -50%);
     max-width: 30rem;
     position: fixed;
     padding: 3rem 3rem;
     border-radius: 0.5rem;
     background-color: #fff;
 }
 
 @media (max-width: 600px) {
     .modal-wrapper{
         width: 100%;
     }
 .modal-container{
     width: 100%;
 }
 
 }